body{
    background-color: hsl(189, 100%, 24%);
    color: white;
    text-align: center;
    font-family: "PT Sans", serif;
}

header {
    height: 100px;
    background-color: orangered;
    text-align: center;
}

h1, h2, h3, h4 {
    text-align: center;
    text-decoration: underline;
}

p {
    font-size: 20px;
}

footer{
    height: 100px;
    background-color: orangered;
    text-align: center;
}
 
a {
    color: orange;
}

a:hover {
    color: orangered;
}

a:active {
    color: red;
}
